<div class="equalizer">

    <h1>
        {{truc.trackPath}} :
    </h1>
    <button>
        <i class="fa fa-music fa-2x"></i>
    </button>

    <button>
        <i class="fa fa-volume-off fa-2x"></i>
    </button>

    <label for="gain_{{$index}}">Gain</label>
    <input type="range"  id="gain_{{$index}}" min="0" max="5" value="1" step="0.05" maxlength="3" />

    <label for="lowFrequenciesFilter_{{$index}}">low Frequencies</label>
    <input type="range" id="lowFrequenciesFilter_{{$index}}" min="-25" max="25" step="0.01" value="{{truc.lowFilterLevel}}" />
    <br>

    <label for="midFrequenciesFilter_{{$index}}">mid Frequencies</label>
    <input type="range" id="midFrequenciesFilter_{{$index}}" min="-25" max="25" step="0.01" value="{{truc.midFilterLevel}}" />
    <br>

    <label for="highFrequenciesFilter_{{$index}}">high Frequencies</label>
    <input type="range" id="highFrequenciesFilter_{{$index}}" min="-25" max="25" step="0.01" value="{{truc.highFilterLevel}}" />
    <br>


    <canvas id="timeCanvas_" width=300 height=100></canvas>
    <canvas id="myFreqCanvas" width=300 height=100></canvas>
</div>