<div id="login-content" ng-controller="Lien_Ctrl" ng-init = "init();">
  <div class="navbar-header1 login">
    <button class="navbar-brand1" id="signUp" ng-show="register" ng-click="showSignUp()">Sign up</button>
    <button class="navbar-brand2" id="login" ng-show="login">Log in</button>
    <button class="navbar-brand6" id="logout" ng-show="logout" >Log out</button>
  </div>

  <div class="login-form row" ng-show="loginForm">

    <div class="row">
      <input id="usernameReg" type="text" placeholder="Username" ng-model="username">
    </div>


    <div class="row">
      <input type="email" placeholder="Email" pattern="[^ @]*@[^ @]*" value="" ng-model="email" name="myEmail">
    </div>


    <div class="row">
      <input type="password" name="myPwd" placeholder="Password" ng-model="pwd">
    </div>

    <div class="row">
      <button id="signUp-button" class="btn btn-primary" type="submit" ng-click="signUp(username, email, pwd)">Sign Up</button>
    </div>
    <div class="row">
      <button id="login-button" class="btn btn-primary" type="submit" ng-click="signUp(username, email, pwd)" ng-show="loginButton">Login</button>
    </div>
  </div>

</div>
