<div id="login-content" ng-controller="loginCtrl" ng-init = "init();">
  <div class="navbar-header1 login">
    <button class="navbar-brand1" id="signUp" ng-hide="register" ng-click="showSignUp()">Sign up</button>
    <button class="navbar-brand2" id="login" ng-hide="login">Log in</button>
    <button class="navbar-brand6" id="logout" ng-show="logout" >Log out</button>
  </div>

  <div class="login-form row" ng-show="loginForm">
    <form ng-submit="signIn()">
      <div class="row">
        <input type="text" placeholder="Username" ng-model="username" id="usernameReg" />
      </div>


      <div class="row">
        <input type="password" placeholder="Password" ng-model="password" />
      </div>

      <div class="row">
        <button id="signUp-button" class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </form>

    <div class="row">
      <button id="login-button" class="btn btn-primary" type="submit" ng-click="signUp(username, email, pwd)" ng-show="loginButton">Login</button>
    </div>
  </div>

</div>
