
div.signUp-form {
  text-align: center;
  margin-top: 50px;

  input {
    margin-bottom: 10px;
  }

  button {
    margin-bottom: 20px;
  }
}

div.login-form {
  text-align: center;
  margin-top: 50px;
  input {
    margin-bottom: 10px;
  }

  button {
    margin-bottom: 20px;
  }
}

