<div id="login-content" ng-controller="loginCtrl" ng-init = "init();">


  <div class="signUp-form row" ng-hide="signUpForm">
    <form ng-submit="signUp()">
      <div class="row">
        <input type="text" placeholder="Username" ng-model="username" class="usernameReg" />
      </div>

      <div class="row">
        <input type="password" placeholder="Password" ng-model="password" />
      </div>

      <div class="row">
        <button id="signUp-button" class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </form>
  </div>

  <div class="login-form row" ng-hide="signUpForm">
    <form ng-submit="signIn()">
      <div class="row">
        <input type="text" placeholder="Username" ng-model="username" class="usernameReg" />
      </div>

      <div class="row">
        <input type="password" placeholder="Password" ng-model="password" />
      </div>

      <div class="row">
        <button id="signIn-button" class="btn btn-primary" type="submit">Sign In</button>
      </div>
    </form>
  </div>
</div>
