<div id="login-content" class="content" ng-controller="loginCtrl" ng-init = "init();">

    <div class="form">
      <div class="selectPanel">
        <div class="signupSelect" ng-class="{'selected': !panel}" ng-click="panel = false">Sign up</div><div class="loginSelect" ng-class="{'selected': panel}" ng-click="panel = true">Sign In</div>
      </div>
      <form class="signup" ng-submit="signUp()" ng-hide="panel">
        <span>Inscrivez vous gratuitement !</span><br>
        <input type="text" class="nickname" ng-model="nickname" placeholder="Nickname"><br>
        <input type="password" class="password" ng-model="password" placeholder="Mot de passe">
        <input type="submit" value="INSCRIPTION">
      </form>

      <form class="signin" ng-submit="signIn()" ng-show="panel">
        <input type="text" class="nickname" ng-model="nickname" placeholder="Nickname">
        <input type="password" class="password" ng-model="password" placeholder="Mot de passe">
        <input type="submit" value="CONNEXION">
      </form>
    </div>

</div>
