<div class="mixTracks">

    <button id="playButton" class="btn btn-default glyphicon glyphicon-play" disabled="true">
    </button>
    <button id="pauseButton" class="btn btn-default glyphicon glyphicon-pause">
    </button>
    <button id="stopButton" class="btn btn-default glyphicon glyphicon-stop">
    </button>



    <div class="saveButton" ng-show="track.author == nickname">
        <button class=" btn btn-info">
            Save
        </button>
        <button class=" btn btn-warning">
            Delete
        </button>
    </div>

    <div class="saveButton" ng-show="nickname && track.author != nickname">
        <button class=" btn btn-info">
            Remix
        </button>
    </div>

    <label for="mainGain">Main Gain</label>
    <input type="range"  id="mainGain" min="0" max="5" value="1" step="0.05" maxlength="3" />
    <div class="tracks" ng-repeat="truc in track.tracks">

        <equalizer>
            equalizedSrc
        </equalizer>
    </div>




</div>