body{
  margin: 0;
  padding: 0;
  background-color:#D4DAD9 !important;
  font-family: 'Roboto';
}

.header{
  line-height: 50px;
  height: 50px;
  width: 100%;
  background-color: #293540;
  color: white;
  .logo{
    float: left;
    margin-left: 20px;
    margin-right: 50px;
  }

  .login{
    float: right;
    margin-right: 20px;
  }
  .search .form-control{
    width: 300px;
    margin-top: 8px;
    margin-left: 500px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  #searchButton{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 0px;
    margin-top:-2px;
  }
  #logButton,#tracksButton {
    float: right;
    margin-right: 30px;
    margin-top: -35px;
    text-decoration: none;
    color:white;
  }
  #tracksButton{
    margin-right: 160px;
    margin-top: -50px;
  }
}

