body{
  margin: 0;
  padding: 0;
}

.header{
  line-height: 50px;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  .logo{
    float: left;
    margin-left: 20px;
    margin-right: 50px;
  }
  .login{
    float: right;
    margin-right: 20px;
  }
  .search .form-control{
    width: 300px;
    margin-top: 8px;
    margin-left: 500px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  #searchButton{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 0px;
  }
  #logButton,#tracksButton {
    float: right;
    margin-right: 30px;
    margin-top: -35px;
    text-decoration: none;
    color:white;
  }
  #tracksButton{
    margin-right: 160px;
    margin-top: -50px;
  }
}

.trackItemPreviews{
  margin-top: 20px;
  width: 100%;

  .trackItemPreview{
    width: 700px;
    margin: 0 auto 20px auto;
    border: solid black 1px;
    height: 100px;

    .leftItems, .rightItems{
      display: inline-block;
      width: calc(50% - 4px);
      vertical-align: middle;
    }

    .leftItems{
      img{
        height: 50px;
      }

      .title{
        text-transform: capitalize;
      }
    }

    .rightItems{
      text-align: right;
    }
  }
}