<div class="header" ng-controller="headerCtrl">
    <div class="logo">Octopotato</div>
    <a class="nickname" href="#/mixes/{{nickname}}">{{nickname}}</a>
    <div class="search input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <button id="searchButton" class="btn btn-default" type="button">Search</button>
    </div>
    <a id="tracksButton" href="#tracks">Tracks</a>

    <a id="loginButton" class="glyphicon glyphicon-user" href="#login" ng-hide="nickname"> Sign in</a>
    <a id="logoutButton" class="glyphicon glyphicon-user" ng-click="signOut()" ng-show="nickname"> Sign out</a>
</div>
