<div class="trackItemPreviews" ng-controller="TrackItemCtrl">
    <div class="trackItemPreview" ng-repeat="tip in trackItemPreviews">
        <div class="leftItems">
            <span class="title" ng-bind="tip.title"></span>
            <span class="author">by {{tip.author}}</span><br/>
            <img src="{{tip.coverPath}}" alt="cover"><br/>
            <button>like</button>
            <button>share</button>
            <button>remix</button>
        </div>
        <div class="rightItems">
            <span class="date" ng-bind="tip.date"></span><br/>
            <span>WAVE</span><br/>
            <span class="plays" ng-bind="tip.plays"></span><i class="fa fa-play"></i>
            <span class="likes" ng-bind="tip.likes"></span><i class="fa fa-heart"></i>
            <span class="comments" ng-bind="tip.comments"></span><i class="fa fa-comment"></i>
        </div>
    </div>
</div>