<div class="track_detail" >
    <div class="detail">
        <div class="track">
            <a class="trackName" href = "track_detail.html">{{track.title}}</a> By <a class="authorName">{{track.author}}</a>
        </div>
        <div class="trackCreated">{{track.date}}</div>
        <div>
            <img src="{{track.coverPath}}" alt="cover"><br/>
            <track-mix>

                <div class="mixTracks" ng-repeat="truc in track.tracks">

                    <equalizer songUrl={{truc.trackPath}}>
                        equalizedSrc
                    </equalizer>
                    <div class="waveform">{{track.trackPath}}</div><br/>
                </div>
            </track-mix>
            <div class="actionbar">
                <li><button class="btn btn-info glyphicon glyphicon-heart"> like</button></li>
                <li><button class="btn btn-info glyphicon glyphicon-share"> share</button></li>
                <li><a href="" class="btn btn-info glyphicon glyphicon-edit" role="button"> remix</a></li>
            </div>
            <div>zefzef : {{test}}</div>

            <div class="interest">
                <li class="glyphicon glyphicon-play">420</li>
                <li class="glyphicon glyphicon-heart">36</li>
                <li class="glyphicon glyphicon-comment">78</li>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
        <div class="description">
            description
        </div>
        <div class="mycomment">
            my comment
        </div>
    </div>
    <div class="col-sm-4 trackInfo">
        info of this track
    </div>
</div>

<div class="row">
    <div class="col-sm-8 commnents">
        all the users comments
    </div>
    <div class="col-sm-4 similar_tracks">
        similar tracks
    </div>
</div>
