.track_detail{
  width: 100%;
  height:100%;
  border:1px red solid;
}
.detail{
  position:relative;
  width:80%;
  border:1px blue solid;
  margin-top:50px;
  margin-left:auto;
  margin-right:auto;
  height: 100%;
  padding: 5px;
}
.track, .trackCreated, .cover, .waveform, .actionbar, .interest, .actionbar li, .interest li{
  display: inline-block;

}
.trackCreated, .waveform, .interest{
  float:right;

}
.trackName{
  text-decoration: none;
}
.actionbar, .interest{
  position: absolute;
  float: bottom;
  bottom: 5px;
}
.interest{
  right: 5px;
}
/*....................................Endregion1.................................................*/

/*....................................region2: comments.................................................*/
.description{
  border:1px blue solid;
}
.mycomment{
  border:1px blue solid;
}
.commnents{
  border:1px blue solid;
}
.trackInfo{
  border:1px blue solid;
}
.similar_tracks{
  border:1px blue solid;
}


/*....................................Endregion2.................................................*/
._item{
  background-color: black;

}